@page "/admin/assign-user-role/{id}"
@model DaoBlissWebApp.Areas.Admin.Pages.User.AddRoleModel
@{
    ViewData["Title"] = "Set role for users";
}
@{

}

<h3>Set role for user: @Model.User.UserName</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-group">
                <label asp-for="RoleNames" class="form-label"></label>
                @Html.ListBoxFor(m => m.RoleNames, @Model.AllRoles, new
           {
               id = "id-select-roles",
               @class = "w-50"
           })

                <span asp-validation-for="RoleNames" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-page="./Index" class="btn btn-primary">List user</a>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />
    <script>
        $("#id-select-roles").multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false
        });

    </script>
    <partial name="_ValidationScriptsPartial" />
}
