html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

font-face {
    font-family: SVN-Valentina;
    src: url('/font/SVN-Valentina.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

font-face {
    font-family: SFUGoudyMedium;
    src: url('/font/SFUGoudyMedium') format('ttf');
    font-weight: normal;
    font-style: normal;
}

font-face {
    font-family: GarlicSalt-Regular;
    src: url('/font/GarlicSalt-Regular') format('otf');
    font-weight: normal;
    font-style: normal;
}

font-face {
    font-family: GarlicSalt-Bold;
    src: url('/font/GarlicSalt-Bold') format('otf');
    font-weight: normal;
    font-style: normal;
}

font-face {
    font-family: StenciliqoExtruded4F;
    src: url('/font/StenciliqoExtruded4F') format('ttf');
    font-weight: normal;
    font-style: normal;
}

